<!-- Cite source: http://www.accuweather.com/en/free-weather-widgets -->

<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Meoweather</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/static/catpages.css" rel="stylesheet">
</head>
<body>
  <h1>Is it raining cats and cats?</h1>
	<br>
  <div>
    <a href="http://www.accuweather.com/en/sg/singapore/300597/current-weather/300597" class="aw-widget-legal">
  </a><div id="awtd1474347310761" class="aw-widget-36hour"  data-locationkey="300597" data-unit="c" data-language="en-us" data-useip="false" data-uid="awtd1474347310761" data-editlocation="false"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
  </div>

  <div>
    <a href="/">
      <figure>
        <img src='/static/meowth.png' width=10%>
        <figcaption>Go back to the home page</figcaption>
      </figure>
    </a>
  </div>

</body>
