<!-- Done by Tan Shun Yu (1001171)-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Catsite :3</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/custom.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Procatstination
                    <small>by Shun Yu</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 portfolio-item">
                <img class="img-responsive" src="/static/cat1.jpg">
                <h3>
                    <a href="/cat1/">Meow (Let's play a game!)</a>
                </h3>
                <p>Much meow.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <img class="img-responsive" src="/static/cat2.jpg">
                <h3>
                    <a href="/cat2/">Meow Meow (What's the weather today?)</a>
                </h3>
                <p>Many feline.</p>
            </div>
        </div>

        <h2>Which cat breed are you?</h2>
        <p>(enter your name below)</p>
        <form action="." method="POST">
            <input type="text" name="name">
            <input type="submit" name="my-form" value="Find out!">
        </form>

    </div>

</body>

</html>
